@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px; 
     text-decoration: none;
}
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     
     align-items: center;
     height: 80px;
     background-color: #E0E0E0;
}          
.img-logo {
     display: inline-block;
     width: 40px;
     height: 36.84px;
     margin-left: 20px;
}
.comt-finan {
     display: contents;
}
#check {
    display: none;
}
.checkbtn {
    display: none;
}
ul {
    background-color: white;
    float: right;
    margin: 10px;
}
nav > ul > li {
    display: inline-block;
    line-height: 60px;
    margin: 0px 20px 0px 20px;
}
nav > ul > li > a {
    text-transform: uppercase;
}
a:active, a:hover {
    background-color: rgb(30, 49, 43);
    transition: .5s;
}
.menu {
    background-color: #E0E0E0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
span {
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 2px 0px 2px 0px;
}