@charset "utf-8";
body {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px; 
}
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     
     align-items: center;
     height: 80px;
     background-color: #E0E0E0;
}          
.img-logo {
     display: inline-block;
     width: 40px;
     height: 36.84px;
     margin-left: 20px;
}
.comt-finan {
     display: contents;
}
.hanburguer {
     display: none;
     text-align: right;
     cursor: pointer;
     margin-right: 20px;
     z-index: 1;
     width: 18px;
     aspect-ratio: auto 18 / 12;
     height: 12px;
}
.menu-content {
     padding: 0 20px;
     display: nome;
     justify-content: center;
     align-items: center;
     width: max-content;
     margin-right: 10px;
}
.menu {
     padding: 0.2px;
     display: flex;
     margin-right: 10px;
     align-items: center;
     justify-content: center;
}
ul {
    display: flex;
    align-items: center;
    background-color: #fff;
    list-style: none;
    height: 40px;
    border-radius: 2px;
}
.div-li{
     color: #979797;
     width: 20px;
     display:flex; 
     justify-content: center;
 }
li {
     padding: 0;
     display: inline-block;
 }
 a {
     text-decoration: none;
     color: #333333;
     font-weight: 600;
 }
 a:hover{
     color: red;
     z-index: 1;
 }
 a:active{
     color: blue;
 }
 ul {
     position: fixed;
     display: block;
     padding: 0px;
     padding-top: 15px;
     margin: 0px;
     top: 0;
     height: 100%;
     overflow-x: hidden;
     background: #333333;
     text-align: end;
     width: 256px;
     transform: translateX(0px);
     z-index: 3;
 }
 .div_close {
     position: absolute;
     display: block;
 }
 .list-1 {
     width: 100%;
     justify-content: right;
     align-items: center;
 }
 .div-li {
     justify-content: right;
     align-items: center;
 }
 .list-1 > a {
     color: wheat;
 }
 .list-2 {
     display: flex;
     width: 100%;
     justify-content: right;
     align-items: center;
 }
 .list-2 > a {
     color: wheat;
 }