@charset "utf-8";
@media (max-width:411px) {
     .nav-title { 
          width:70%
         }
        ul {
          display: none;
        }   
        .menu {
          margin-right: 20px;
        }      
        .title-transaction {
          display: none;
        }      
        .checkbtn {
          display: contents;
        }
        .button-add {
          margin-bottom: 27px;
        }      
        .extract {
          border-top: solid #979797 1px;
        }
        
        form {
          flex-direction: column;
        }
        .div-bloco-pai > h4 {
             display: none;
        }
        .div-pai-1 {
          width: 100%;
        }
        .div-pai-2 {
          width: 100%;
        }
        .div-filho-2 {
          padding-left: 20px;
          padding-right: 20px;
        }
}


