@charset "utf-8";
@media (min-width:769px) and (max-width:1112px) {
     .lista {
          display: flex;
          width: 350px;
          height: 40px;
          background-color: white;
          box-sizing: border-box;
     }
     li {
          
          
     }
     
}