@charset "utf-8";
@media (min-whidth:1113px) and (max-whidth:1500px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
     .lista {
        
          height: 40px;
          background-color: white;
          box-sizing: border-box;
      }
     form {
       padding: 40px;   
     } 
}