@charset "utf-8";
form {
     margin: 15px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.formulario div {
     width: 100%;
display:inline-block;
}
.formulario.label-grande {
     width: 50%;
     
     text-align: right;
}
