@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: lato,sans-serif;
}
header,nav {
  display: block;
  width: 100%;
  height:60px;
}
main {
  padding: 0px 20px;
}
.div_nav {
  background-color: #DADADA;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.nav_titulo {
  margin-top: 15px;
  font-size: 20px;
  line-height: 24px;
}
.img_logo {
  width: 30px;
  height: 27.63px;
  margin-top: 15px;
  margin-left: 20px;
}
#logo {
  width: 30px;
  height: 27.63px;
}
.menu_conteiner {
  margin-right: 20px;
  width: 150px;
  height: 380px;
  background-color: #333333;
  position: relative;
}
#check {
 display: none;
}
.checkbtn {
  position: absolute;
  z-index: 1;
}
input [type="check"]:check ~ .menu_conteiner {
  transform: translateX(160px);
}
a {
  color: white;
  display: block;
  font-size: 16px;
  line-height: 19.2px;
}
a:hover {
  background-color: #C4C4C4;
}
li,a:hover {
  color: black;
}
.menu {
  width: 24px;
  height: 24px;
  background-color: #DADADA;
  padding: 2px;
  top: 20px;
  margin-top: 15px;
}
span {
  width: 18px;
  height: 2px;
  background-color: black;
  margin-top: 4px;
  display: block;
}
.lista {
  display: flex;
}
ul {
  position: absolute;
  top: 60px;
  width: 100%;
}
li {
  display: block;
}
a {
  text-decoration: none;
}
input,select {
  border: 1px solid #dadadacf;
  height: 32px;
  padding-left: 12px;
}
#input_nome,#input_valor {
  height: 32px;
  padding-left: 12px;
}
#nov_transaçao {
  display: none;
}
.container_a {
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.sub_conteiner {
  margin-bottom: 28.56px;
  border-bottom: 1px solid #dadadacf;
  padding-bottom: 10px;
  margin-top: 29px;
}
#nova_transacao {
  display: none;
}
input,label,select {
  font-size: 14px;
  line-height: 22px;
}
.div_bloco_a {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
}
.div_bloco_b {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
}
.div_bloco_c {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
}
.div_bloco_d {
  display: flex;
  height: 32px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
}
.div_bloco_d > button {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
}
caption {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 21px;
}
table {
  border-collapse: collapse;
  width: 98%;
  margin: auto;
  padding: 20px;
}
.mercadoria {
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  padding-left: 25px;
}
.valor {
  text-align: right;
  font-size: 14px;
  line-height: 22px;
}
th {
  border-bottom: 1px solid #DADADA;
}
tr {
  height: 41.83px;
}
td {
  font-size: 14px;
  line-height: 16px;
}
.mais,.menos {
  border-bottom: 1px solid #DADADA; 
  width: 9px;
  text-align: center;
  padding-right: 20px;
}
.descricao {
  border-bottom: 1px solid #DADADA;
}
.soma {
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid #DADADA;
}
.total {
  border-top: 1px solid black;
  padding-left: 25px;
}
.valor {
  text-align: right;
}
.lucro {
  text-align: right;
  font-size: 10px;
  line-height: 22px;
}
footer {
  width: 100%;
  height: 8px;
  background-color: black;
}



