@charset "utf-8";
@media (min-width:411px) {
     .conteiner_a {
          border: 1px solid #DADADA;
          margin: 20px 0px 20px 0px;
     }
     #nova_transacao {
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          font-size: 18px;
          line-height: 22px;
     }
     .sub_conteiner {
          margin-bottom: 0px;
          padding-bottom: 0px;
     }
     
     .sub_conteiner_fim {
          display: flex;
          justify-content: space-around;
     }
     .div_bloco_a {
          width: 20%;
     }
     .div_bloco_b {
          width: 40%;
     }
     .div_bloco_c {
          width: 20%;
     }
     .div_bloco_d {
          justify-content: end;
          margin-right: 10px;
     }
     .div_bloco_d > button {
          width: 200px;
     }
}