@charset "utf-8";
@media (min-width:768px) {
     main {
          width: 96%;
          display: flex;
     }
     form {
          width: 40%;
          height: 344px;
          margin-right: 10px;
     }
     table {
          margin-left: 10px;
          width: 60%;
          margin-top: 47px;
     }
     .sub_conteiner {
          margin-top: 25px;
     }
     .sub_conteiner_a {
         height: 344px;
     }
     .sub_conteiner_fim {
          display: block;
          padding-left: 14.9px;
          padding-right: 14.9px;
     }
     .div_bloco_a {
          width: 100%;
     }
     .div_bloco_b {
          width: 100%;
     }
     .div_bloco_c {
          width: 100%;
     }
     .div_bloco_d > button {
          width: 100%;
          height: 32px;
          padding-left: 14.9px;
          padding-right: 14.9px;
          margin-bottom: 20.22px;
     }
}
