@charset "utf-8";
.formulario {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.formulario div {
     width: 100%;
     text-align: center;
     display: flex;
     flex-direction: row;
}
.formulario .labelgrande {
     display: inline-block;
     width: 49%;
     text-align: right;
}
.experiencia {
     text-align: center;
     display: flex;
     flex-direction: row;
     margin-left: 85%
}
.formulario.experiencia {
     display: flex;
     justify-content: inherit;
 
}
.rad {
     display: flex;
     justify-content: center;
     margin: 5px 5px;
}
.inpt {
     margin-left: 10px;
}