@charset "utf-8";
.lista {
     width: 100%;
}
table {
     border-spacing: 0px;
}
.tr {
     background-color: black;
     color: white;
     font-weight: bold;
     line-height: 1em;
     padding: 10px;
}
.td1 {
     padding: 5px;
}
.lista tr td {
     padding: 5px;
}
.zebra {
     background-color: rgb(204, 204, 204);
}