@charset "utf-8";
@media (max-width:411px) {
     .menu {
          display: none;
     }
     form {
          display: flex;
          flex-direction: column;
          width: 100%;
     }
     .div-pai-1 {
          width: 100%;
     }
     .div-pai-2 {
          width: 100%;
     }
     .hanburguer {
          display: block;
     }
     .div-bloco-pai > h4 {
          display: none;
     }
}


