@charset "utf-8";
@font-face {
     font-family: 'Lato';
     src: url('font/Lato-Black.otf') format('opentype');
     font-weight: normal;
}
*{
     margin: 0;
     padding: 0px;
}
body {  
     background-color: #E5E5E5;;
}
header {
     position: relative;
     width: 411px;
     height: 75px;
     margin: auto;
}
.leyout {
     margin: auto;
     width: 411px;
     height: 24px;
     background-color: #000000;
     display: flex;
     justify-content: space-around;
     position: absolute;
     left: 0px;
     right: 0px;
     top: 0px;
}
.hora {
     position: absolute;
     font-size: 12px;
     width: 50px;
     height: 15px;
     line-height: 14.4px;
     color: white;
     left: calc(50% - 50px/2 + 1px);
     top: 4.5px;    
}
.paiheader {
     position: absolute;
     width: 411px;
     left: 0px;
     top: 24px;
     background-color: #E0E0E0;
     margin: auto;
     display: flex;
     justify-content: normal;
     height: 43px;
     margin-bottom: 8px;
}
.paiheader > {

}
.img {
     width: 30px;
     height: 27.62px;
     position: absolute;
     left: 22px;
     top: 11px;
}
.img #g {
     width: 30px;
     height: 27.62px
}
.chec {
     display: none;
}
.titulo {
     margin: auto;
     top: calc(50% - 43px/2 + 0.5px);
     text-align: center;
     font-weight: 600;
     position: relative;
     font-size: 20px;
     line-height: 24px;
     font-style: normal;
}
a {
     color: white;
     text-decoration: none;
     transition: 0.3s;
}
a:hover {
     opacity: 0.7;
}
.logo {
     font-size: 24px;
     text-transform: uppercase;
     letter-spacing: 4px;
}
nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: #E0E0E0;
     height: 8vh;
}
.nav-list {
     display: none;
     list-style: none;
     display: flex;
}

ul {
     list-style: none;
}
.nav-list > li {
     letter-spacing: 3px;
     margin-left: 32px;
}
.mobile-menu {
     position: absolute;
     width: 24px;
     height: 24px;
     top: 18px;
     left: 369px;
     cursor: pointer;

}
.mobile-menu.menudiv {
     position: initial;
     width: 18px;
     height: 12px;
     top: 24px;
     background-color: #E0E0E0;
     left: 372px;
     mix-blend-mode: normal;
}

.menudiv {
     padding-top: 4px;
     padding-bottom: 4px;
     background: #333333;
     position: sticky;
     width: 18px;;
     height: 9px;
     left: 372px;
     top: 24px;
     
}
.line1 {
     display: block;
     background-color: white;
     width: 18px ;
     left: 372px;
     height: 2px;
     top: calc(50% - 2px/2 - 5px);
     right: 21px;
}
.line2 {
     position: sticky;
     width: 20px;
     height: 2px;
     right: 21px;
     left: 372px;
     top: calc(50% - 2px/2);
     display: block;
     background-color: white;
}
section {
     width: 411px;
     margin: auto;    
     margin-top: -20px;
}
.formtitulo {
     display: none;
}
form {
     background-color: white;
     width: 411px;
     height: 325px;
     border-bottom: 1px solid #979797;
}
.tiptrans {
     width: 371px;
     height: 22.22px;
     margin: auto;
     line-height: 22px;  
     top: 26px;
}
.secdiv1 {
     display: flex;
     flex-direction: column;     
     margin: auto;
     margin-top: 22px;
     position: relative;
     bottom: 22px;
     top: 22px;
     height: 60px;
     width: 371px;
}
.label1 {
     display: contents;
     width: 371px;
     height: 22.22px;
     font-style: normal;
     font-size: 14px;
     line-height: 22px;
     position: absolute;
     bottom: 61.01%;
     left: 0px;
     right: 0px;     
     color: #333333;
}
.input1 {
     height: 32px;
     margin-top: 1px;
     border-radius: 4px;
     box-sizing: border-box;
     border: 1px solid #979797;
}
::placeholder {
     width: 49px;
     height: 22px;
     position: absolute;
     font-size: 14px;
     left: 10px;
     top: 5px;
     bottom: 2px;
     left: 10px;
     height: 312px;
     line-height: 22px;
     color: #888888;
}
.button {
     display: flex;
     justify-content: center;
     position: relative;
     top: 41.78px;
}
button {
     width: 371px;
     height: 32px;
     border-radius: 4px;
     background-color: #333333;
     position: absolute;
     color: white;
     font-size: 14px;
     line-height: 22px;
     text-align: center;
     font-style: initial;
}

@media only screen and (min-width:768px) {
     * {
          margin: 0px;
          padding: 0px;
     }
     body {
          margin: 0px;
          padding: 0px;
          width: 95%;         
          height: 720px; 
     }
     .leyout,header {        
          width: 100%;
          margin: auto;
     }
     .paiheader {
          width: 100%;
          margin: auto;
     }    
     section {
          width: 100%;
          margin-top: 0px;
     }
     .formtitulo {
          display: none;
          
     }
     .formtitulo > p {
          width: 174px;
          height: 20px;
          margin: 20px;
          position: absolute;
          font-weight: 700;
          font-size: 18px;
     }
     form {
          position: relative;
          margin: auto;
          width: 102.5%;
     }
    .responsive .secdiv1 {
          margin: auto;
          width: 100%;
    }
     section {
          width: 100%;       
     }
     .formtitulo {
          display: flex;
          justify-content: center;
     
     }
     form {
          position: relative;
          width: 100%;
          padding: 10px;
          height: 160px;
     }
    .responsive {
          
          height: 110px;
          padding: 5px;
 
          width: 100%;
          display: flex;
          justify-content: space-around;
    }
    .secdiv1#ab {
         width: 150px;
         margin: 20px;
    }
    .button {
     width: 100%;
     position: sticky;
     width: 200px;
     height: 32px;
     font-size: 14px;
     line-height: 22px;    
     display: block;
     margin-left: 20px;
     
    }
    button {
     font-size: 14px;
     line-height: 22px; 
     width:200px;
}